body {
    font-family: Arial, sans-serif;
    margin: auto;
    background: linear-gradient(to right, #984D38, #181E41);
    max-width: 1200px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: white;
    font-family: Poppins, sans-serif;
}

.navbar .navbargauche {
    display: flex;
    gap : 5px;
    align-items: center;
    justify-content: center;

}

.navbar .navbargauche .logo {
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.navbardroite {
    display: flex;
    gap: 30px;
    align-items: center;
        list-style: none;

}

.navbardroite .btn {
    padding: 10px 20px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-size: 16px;
    background-color: inherit;
    color: white;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    flex-direction: column;
}

.section1 h1 {
    font-size: 70px;
    font-family: playfair display, serif;
    margin-bottom: 20px;
    letter-spacing: 0.3px;
    font-style: bold;
    text-align: center;
    font-weight: 700;
    line-height: 100%;
}

.section1 h2 {
    font-size: 2Opx;
    font-family: Poppins, sans-serif;
    text-align: center;
    color: FFFFFF;
    opacity: 50%;
    font-weight: 600;
    font-style: semi-bold;
    letter-spacing: 0.3px;
    line-height: 100%;
}

.section1 .texteSide {
    font-family: Poppins, sans-serif;
    font-style: medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 27.8px;
    color: #FFFFFF;
    opacity: 30%;
align-items: left;
}

.section1 img {
    width: 100%;
    height: auto;
}